<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': statusPost >= 0,
                'list-group-item-danger': statusPost  < 0}"> 
    <div 
        style="background-color:red;"
        *ngIf="statusPost <= 0"></div>
        <h4>{{postName}}  --  Statut du post : {{ getStatus() }}</h4>

        <h5>Date de création : {{ creationPost }}</h5>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque necessitatibus aut laboriosam officiis consectetur est sunt assumenda iusto consequuntur facere dignissimos sequi nemo nostrum consequatur aspernatur error, hic ratione possimus.</p>

        <button class="btn btn-success" (click)="onLoveIt()">Love It</button>

        <button class="btn btn-danger" (click)="onDontLoveIt()">Don't Love It</button>
    
</li> 